.primary-content {
  display: flex;
  flex-direction: column; 
  padding: 10px;
  gap: 20px;
  width: 100%;
}

.pantry-pane, .recipes-pane {
  width: 100%; 
}

@media (min-width: 768px) {
  .primary-content {
    flex-direction: row; 
    padding: 40px;
  }

  .pantry-pane {
    width: 300px; 
  }

  .recipes-pane {
    flex: 1; 
  }
}
