.primary-content {
  display: flex;
  padding: 16px;
  gap: 16px;
  height: calc(100vh - 5rem);
}

.pantry-pane {
  flex: 1;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}

.recipes-pane {
  flex: 3;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}
